body {
    text-align: center;
    background-image: url("globalBackground.jpg");
    background-repeat: no-repeat;
    background-color: rgba(255, 245, 238, 0.897);
   }

h1 {
    color: #394a6d;
    font-size: 40px;
    padding: 100px;
    margin: 5px 20px;
    width: 17%;
    display: inline-block;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    justify-content: space-around;
  } 
  
p {
    background-color: #b2fcff;
    color: black;
    display: inline-block;
    opacity: 85%;
    font-size: 20px;
    padding: 10px;
    margin: 5px 150px;    
}

button {
    background-color: #009358;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 3px 5px;
}
button:hover {
    background-color: #64b2cd;
}
#offSet {
    display: inline-block;
    margin: 5px;
}
.informacion {
    display: inline-block;
    padding: 2px;
    border-color: black;
    margin: 10px;
}
.copiar {
    background-color: #3e64ff;
}